{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}

<table class="table">
    <thead class="">
    <tr>
        <th class="col-1" scope="col">比赛ID</th>
        <th class="col-4" scope="col">比赛名称</th>
        <th class="col-2" scope="col">时间</th>
    </tr>
    </thead>
    <tbody>
        
        {% for match in matchs %}
        <tr>
            <th scope="row">{{ match.MatchId }}</th>
            <td><a href="{% url 'match_detail' match.MatchId %}">{{ match.MatchName }}</a></td>
            <td>{{ match.MatchStartTime }} ~ {{ match.MatchEndTime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add' %}" class="btn btn-success", style="margin-left:45%">新建比赛</a>
{% endblock %}