{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<main>

<div style = "margin: 50px, color:#063c57">
  <div style = "margin: 20px" class="pure-g">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-1-2">
      <form class="pure-form" method="get">
        <fieldset>
      
          <input type="text" placeholder="题目名称">
          <button type="submit" class="pure-button pure-button-primary">搜索</button>
        </fieldset>
      </form>
      <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            
            
          {% for attempt in page %}
            <tr class="pure-table-odd">
              <td style="font-size: 20px;">
                {{ attempt.User.user_name }}
              </td>
              <td style="font-size: 20px;">
                <div style="color:#063c57;">{{attempt.TestResult}}</div>
              </td>
              <td style="font-size: 20px;">
                <a style="color:#063c57;" href="{% url 'detail' attempt.Problem.ProblemId %}">
                  {{attempt.Problem.ProblemName}}
                </a>
              </td>
              <td style="font-size: 20px;">
                <div style="color:#063c57;">{{attempt.TimeCost}}ms</div>
              </td>
              <td style="font-size: 20px;">
                <div style="color:#063c57;">{{attempt.MemCost}}mb</div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  
          <!-- 以下为分页栏 -->

              <div>
                <legend></legend>
                  <nav>
                    <ul class="pagination">
                    {% if page.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="{% url 'attempts_page' page.previous_page_number %}" aria-label="Previous">
                          <span aria-hidden="true">&larr;Previous</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="disabled page-item">
                        <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                          <span aria-hidden="true">&larr;Previous</span>
                        </a>
                      </li>
                    {% endif %}
                    {% if paginator.has_previous_more %}
                      <li class="page-item"><a class="page-link" href="{% url 'attempts_page' 1 %}">1</a></li>
                      <li class="page-item"><a class="page-link" href="javascript:void(0);">...</a></li>
                    {% endif %}
                    {% for previous_page in paginator.previous_range %}
                      <li class="page-item"><a class="page-link" href="{% url 'attempts_page' previous_page %}">{{ previous_page }}</a></li>
                    {% endfor %}
                    <li class="active page-item"><a class="page-link" href="{% url 'attempts_page' page.number %}">{{ page.number }}</a></li>
                    {% for next_page in paginator.next_range %}
                      <li class="page-item"><a class="page-link" href="{% url 'attempts_page' next_page %}">{{ next_page }}</a></li>
                    {% endfor %}
                    {% if paginator.has_next_more %}
                      <li class="page-item"><a class="page-link" href="javascript:void(0);">...</a></li>
                      <li class="page-item"><a class="page-link" href="{% url 'attempts_page' paginator.num_pages %}">{{ paginator.num_pages }}</a></li>
                    {% endif %}
    
                    {% if page.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="{% url 'attempts_page' page.next_page_number %}" aria-label="Previous">
                          <span aria-hidden="true">Next&rarr;</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="disabled page-item">
                        <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                          <span aria-hidden="true">Next&rarr;</span>
                        </a>
                      </li>
                    {% endif %}
                    </ul>
                  </nav>
          </div>
          <!-- 以上为分页栏 -->
    </div>
    <div class="pure-u-5-12"></div>
  </div>

  
</div>
</main>
{% endblock %}